# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_company = pd.read_csv(url)
insurance_company.head(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [2]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
print(f"Rows and columns{insurance_company.shape}")

Rows and columns(4008, 11)

In [3]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
insurance_company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [4]:
numerical_variables = ["Customer Lifetime Value", "Income", "Monthly Premium Auto",'Number of Open Complaints'] 
print(insurance_company[numerical_variables].describe())

             Income  Monthly Premium Auto
count   1071.000000           1071.000000
mean   39295.701214            193.234360
std    30469.427060           1601.190369
min        0.000000             61.000000
25%    14072.000000             68.000000
50%    36234.000000             83.000000
75%    64631.000000            109.500000
max    99960.000000          35354.000000

In [5]:
#Identify the number of unique values for each column and determine
# which columns appear to be categorical. You should also describe
#  the unique values of each categorical column and the range of 
# values for numerical columns, and give your insights.
column_names = list[insurance_company.columns]
print(column_names)

categorical_columns = ('Customer', 'ST', 'GENDER', 'Education','Policy Type', 'Vehicle Class',"Total Claim Amount")
for column in categorical_columns:
    print(column,":",list(insurance_company[column].unique()))

list[Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')]
Customer : ['RB50392', 'QZ44356', 'AI49188', 'WW63253', 'GA49547', 'OC83172', 'XZ87318', 'CF85061', 'DY87989', 'BQ94931', 'SX51350', 'VQ65197', 'DP39365', 'SJ95423', 'IL66569', 'BW63560', 'FV94802', 'OE15005', 'WC83389', 'FL50705', 'ZK25313', 'QK46697', 'YH23384', 'TZ98966', 'HM55802', 'FS42516', 'US89481', 'HS14476', 'GE62437', 'EJ77678', 'SV85652', 'UL64533', 'PF41800', 'HD95276', 'SK67821', 'YV55495', 'KY38074', 'DM79012', 'CM61827', 'WC35801', 'QG25316', 'MB98372', 'IL19217', 'SR38658', 'YD87931', 'HG65722', 'BU27331', 'XM45289', 'KP34198', 'SH90947', 'WE95729', 'PY51963', 'RB69909', 'NW21079', 'FR46645', 'SY17488', 'AP67935', 'FS37417', 'ML29312', 'UB61619', 'CD86811', 'RU83859', 'FG63582', 'NN71951', 'WB37082', 'SM52139', 'FL82372', 'DP45816', 'GW33762', 'RZ33670', 'PY70169', 'MO91628', 'HW87852', 'HB20453', 'BN87372', 'YX23800', 'DZ87709', 'XW13033', 'SP81997', 'OM82309', 'ZU35962', 'VH85817', 'DT85712', 'YJ88573', 'SQ19467', 'YB66933', 'ET79815', 'QC35222', 'CJ15590', 'OI48267', 'JY67916', 'OW15518', 'CZ33664', 'WK30175', 'ON44465', 'TV87155', 'KH48895', 'NZ30757', 'RI22468', 'FZ30935', 'UG93476', 'AB96670', 'XK64261', 'EV68375', 'UN51653', 'TO96662', 'MR52087', 'DE75225', 'EP80820', 'GU99037', 'WI57118', 'GP39118', 'MQ14219', 'KN20603', 'SG20925', 'JI70886', 'VF72557', 'OX28638', 'SK55033', 'OO88645', 'FM14335', 'CW82151', 'DY22043', 'SH36774', 'EM43724', 'FH85960', 'XA55993', 'GO36627', 'QH48047', 'HS28694', 'UH65059', 'FV21968', 'QA87025', 'TQ13499', 'BU44523', 'MS41162', 'PU25891', 'LH92841', 'SX26335', 'AZ95587', 'DS81757', 'OJ94107', 'LP84436', 'FF22360', 'LM19287', 'ZU18643', 'AZ82578', 'XC67861', 'YC43143', 'EK59571', 'PA38372', 'RO18530', 'PD27940', 'BS77946', 'YM50253', 'NR15332', 'RC62865', 'CC15295', 'KA61892', 'OS94884', 'ND87334', 'OY51402', 'YL74911', 'GK92563', 'HL53154', 'RI78966', 'IC13702', 'BE10809', 'HT87217', 'TH95618', 'TS19868', 'LP45550', 'QR87004', 'OE75747', 'DX91392', 'AB72731', 'GX84338', 'IS12901', 'BN90616', 'HH90090', 'IU25463', 'KC11055', 'PD33979', 'NK71023', 'AB13432', 'OZ97704', 'UF46533', 'XP47431', 'GK73582', 'RV98763', 'II62831', 'XK33449', 'TR85083', 'EO95328', 'EN21086', 'YL83902', 'AZ62651', 'ZW25874', 'EH41854', 'MW70227', 'SL22297', 'RV14138', 'UO62808', 'ZX64745', 'FL34139', 'TS11219', 'XX12304', 'SD64087', 'OY38576', 'BG76355', 'IP66913', 'LE95702', 'KX54357', 'EZ78112', 'XN16891', 'XK31350', 'CC30924', 'IT78748', 'KY33386', 'CO44221', 'LK60013', 'DE21533', 'YS94121', 'UK68427', 'TE49565', 'RA88421', 'KQ51983', 'CD88896', 'YV22553', 'WU14435', 'XV84099', 'RI24911', 'KO26461', 'HI14283', 'PT50227', 'BH36570', 'TX17484', 'CT41158', 'AO87348', 'DE55857', 'LF66923', 'CN24514', 'UW32074', 'HP36979', 'PP40919', 'RO73268', 'HO61691', 'BS13062', 'FO35655', 'HR10526', 'IA63417', 'BH35016', 'PK52952', 'OD76309', 'IL28481', 'GY55092', 'UF33451', 'CF15558', 'JM62924', 'EM66435', 'QX45933', 'JI71369', 'JU93290', 'GU66096', 'UC33108', 'LW93867', 'OU78470', 'XW90265', 'HS67749', 'VZ51506', 'UI64281', 'AE98193', 'AZ74055', 'XS76911', 'AY40674', 'NA12740', 'UA84837', 'DJ51510', 'VM58985', 'OH60605', 'UO98052', 'NC53424', 'LQ13873', 'LA97014', 'NB79936', 'NT89061', 'AF10970', 'ZG48513', 'JQ59145', 'FE84989', 'JT52858', 'MC62068', 'EU27538', 'RH42306', 'US23612', 'WV76014', 'RK96223', 'MF82000', 'FM46980', 'SY56792', 'RF61565', 'IM94808', 'VI14730', 'YR34119', 'RR77985', 'QD28391', 'WV17090', 'TM23514', 'MQ68407', 'GJ59592', 'FY56083', 'UA94723', 'FW91032', 'DE34457', 'HD32044', 'HH30454', 'AH84063', 'QA17596', 'XI41052', 'DI30528', 'SC66359', 'EN61670', 'DQ10761', 'BQ51587', 'JE21522', 'WS47147', 'ZA64638', 'EW38459', 'QW87316', 'IC43478', 'TE34064', 'WU60905', 'YM18992', 'PD55753', 'KU56006', 'MJ69973', 'TW43626', 'XX84133', 'ZW84453', 'HO29524', 'VE89726', 'GE87503', 'PX90263', 'NI17718', 'FY32213', 'RZ13254', 'GN45013', 'NM39588', 'KU84464', 'YH43527', 'RO30676', 'QL59704', 'QH19450', 'SA54664', 'CI38330', 'WB38524', 'CE56187', 'JL19416', 'JZ61422', 'LA13377', 'NC99948', 'QD34785', 'RO26085', 'ES57969', 'JK55587', 'RN97635', 'BI76326', 'JA34909', 'OJ90342', 'CM88932', 'JJ97525', 'XV21647', 'MC83487', 'BL90769', 'CR57148', 'CP85232', 'YL74732', 'FG16766', 'NV55438', 'RM10880', 'GL56175', 'UK52289', 'OT85112', 'BC62782', 'TI19722', 'JP30654', 'UM45563', 'EN60878', 'JF36291', 'BK59444', 'MK70700', 'IW71076', 'AP98768', 'OM24164', 'HR85211', 'VC87846', 'ZM92052', 'ON73702', 'QQ90441', 'HU35721', 'YP47665', 'FU99476', 'AG85615', 'OY74069', 'DJ91267', 'KB72438', 'TR67616', 'GF65731', 'HB67642', 'DP84567', 'VV77534', 'GL67540', 'SV50502', 'UK59698', 'OA57352', 'ZF84449', 'AX86150', 'HG39060', 'EM29359', 'SF57173', 'OT47603', 'SW31412', 'JS36322', 'RE81445', 'RM24280', 'LC25393', 'UX38930', 'HD95496', 'RX24650', 'DW19309', 'MT41386', 'WZ40465', 'DB42794', 'JB50798', 'IP69763', 'TE35785', 'HX74855', 'QN65180', 'GE47180', 'VQ38776', 'BH86846', 'IN17648', 'DF95759', 'QG45324', 'MN61620', 'YH86390', 'FY13480', 'YH61661', 'NL93182', 'LN31673', 'WE68644', 'EZ30498', 'QY74517', 'NM88660', 'MZ82036', 'ID20929', 'EY50028', 'TT82373', 'OH64088', 'SK97780', 'IO33050', 'XA55917', 'JK32620', 'RQ19236', 'QC47433', 'RA93608', 'XH97711', 'AU96286', 'KC17170', 'ZN47335', 'EI46264', 'EK87864', 'GV45403', 'QK31192', 'LU89008', 'NS10490', 'KL98495', 'IU96845', 'QL93655', 'PF40592', 'LZ34046', 'JC80093', 'YE88490', 'YC80498', 'AI85843', 'XD66024', 'FY51713', 'PH26378', 'WQ18638', 'KY14688', 'TC97762', 'QC87108', 'CX12134', 'SM73248', 'CK19789', 'UV12583', 'JC11405', 'KA89683', 'BG85305', 'UQ87917', 'XN11823', 'OS46571', 'PX17116', 'RP19541', 'ZR25747', 'NQ86532', 'JY27336', 'PB54378', 'SV38190', 'CV24005', 'EX28656', 'CF57022', 'GM16780', 'BX94438', 'RM41745', 'XR70252', 'YH92099', 'SG81493', 'ZX23819', 'FJ54907', 'CU26127', 'YH60476', 'ZZ97035', 'GE82737', 'KY21873', 'UA51318', 'BV55014', 'HX21307', 'LQ68252', 'CR92802', 'SL35268', 'RD62882', 'JS42382', 'BT30554', 'VP57424', 'VU19243', 'TA82973', 'GK71720', 'OQ61223', 'LL62746', 'JQ56711', 'AW77988', 'QP84605', 'MY97912', 'IB87349', 'AW73065', 'BW80872', 'PX70175', 'KF75098', 'IS50283', 'MY64920', 'KN34250', 'GN46207', 'KL57176', 'MN94234', 'JY90595', 'HK26543', 'PN86062', 'VW27730', 'SH55671', 'MO56878', 'VO38365', 'SV35618', 'RX12347', 'FR55658', 'XS12556', 'ZU73588', 'WT43034', 'VM13430', 'TC78849', 'VC34764', 'WO90953', 'IU47468', 'KO46064', 'RB34917', 'BI38192', 'PU18983', 'SW79912', 'ES39217', 'KP72427', 'UA19178', 'PR53785', 'XF57481', 'CN90378', 'KI56154', 'UI55951', 'FF28650', 'FS55302', 'TN79487', 'HG32616', 'UK41984', 'LZ52266', 'PM27367', 'ZK21724', 'BH35482', 'QE22757', 'ON77649', 'RN82884', 'CQ75652', 'FF58467', 'BS83666', 'WO29605', 'TL77607', 'EZ50606', 'OS39723', 'FN69743', 'XW96958', 'TU92578', 'TL43709', 'YE68736', 'OB96537', 'EU68825', 'CC31456', 'DJ77787', 'LN26837', 'YI92916', 'NW54906', 'ME77513', 'UK76891', 'SI26888', 'YD74948', 'HB64268', 'BW52697', 'NL41409', 'OD69005', 'ZZ91716', 'UK70255', 'QT25383', 'AW18068', 'NS45347', 'FV19421', 'XW89091', 'YC11951', 'UY18770', 'RA49085', 'BG84194', 'PT64580', 'MR67738', 'DM95829', 'DB75522', 'LM34525', 'WW30771', 'QP65569', 'TN50051', 'UO86707', 'JA41698', 'NX18774', 'DA69469', 'CN23147', 'RA68844', 'GH42026', 'BD16530', 'JH91579', 'WK23685', 'GR62267', 'PI78084', 'GF97874', 'ZH19885', 'UK25655', 'QR45101', 'EL93539', 'EE99484', 'DP46882', 'WP41146', 'TK60799', 'DN29808', 'SS59521', 'NG66579', 'TC14209', 'ED50963', 'GP40701', 'CP98451', 'NX52648', 'ZC32510', 'NG27780', 'HN95240', 'EB59129', 'RA70851', 'PM19162', 'MS59005', 'SU71163', 'BD35676', 'NI44621', 'EW33419', 'HX44948', 'DL36983', 'XR87264', 'NN99001', 'XV95530', 'OL97871', 'HQ23708', 'WR63188', 'NG82219', 'KU29408', 'RE46783', 'RU94434', 'GI82355', 'VO26340', 'NV61299', 'DX31066', 'CY50337', 'TJ20375', 'EP72155', 'JJ76159', 'BG15419', 'AO74776', 'HQ82233', 'OL72737', 'ZQ59828', 'NZ15548', 'XK61304', 'EJ44139', 'CM94425', 'OV54878', 'JF57282', 'MY37953', 'XP64922', 'WL65572', 'LN50325', 'HJ15383', 'KH59823', 'YM79169', 'DR38127', 'PU42145', 'KM33477', 'RI53167', 'OF77789', 'YB33445', 'BA17836', 'JS43228', 'BB11622', 'HQ70429', 'WK88044', 'LA80525', 'EH16250', 'PU41872', 'HB85743', 'MM71959', 'MB83663', 'KR43119', 'KH24214', 'AC40767', 'HP55391', 'EG62398', 'VS19949', 'AM92343', 'GI68556', 'JT11876', 'XR64251', 'MK34957', 'GP18756', 'AP23850', 'KQ65521', 'EJ19449', 'QB70027', 'QW47320', 'KH64733', 'ON59472', 'HP94242', 'RV15398', 'EA25683', 'PW73754', 'MC71942', 'OX72195', 'YQ99152', 'KI19439', 'PM76175', 'US45383', 'GT38956', 'SN41301', 'BE62503', 'PA16884', 'NC58480', 'NS39326', 'PN18507', 'EK91340', 'JY16280', 'ZW71731', 'ZC24631', 'YR34689', 'RT65829', 'BZ12077', 'WM65373', 'NH35059', 'QD38160', 'BM15160', 'VY79030', 'EV19512', 'TE13577', 'WY97929', 'YG20683', 'FK75497', 'NE60110', 'TN36521', 'HG33568', 'TW17878', 'ZO83562', 'CH97539', 'CV29889', 'MO33320', 'QZ81258', 'NY56352', 'EA27048', 'UT38865', 'QC89139', 'LA14484', 'HN57556', 'CV31235', 'WR45726', 'LB25094', 'KW56110', 'XO36233', 'ZX86243', 'DW29763', 'CT83377', 'OQ90898', 'GO77248', 'QW33258', 'OU79745', 'VZ79886', 'FI92440', 'YG85980', 'QM74621', 'EI71732', 'VN79010', 'FI61723', 'OH55411', 'TF10720', 'NW30838', 'CB58476', 'WI69346', 'FS76657', 'YX89016', 'PK28821', 'MB51200', 'XG44587', 'FG91922', 'OM99303', 'RV67546', 'UJ79253', 'PN98247', 'IB67546', 'OE19087', 'CM95716', 'MW62634', 'QW67581', 'SN16059', 'OE51254', 'RM42344', 'GB35238', 'ML82674', 'EI85244', 'DE28132', 'TV25678', 'TY26512', 'OB69153', 'QZ77637', 'XN41715', 'QR15857', 'FL69363', 'IS30295', 'WA25797', 'NL59519', 'ZU93025', 'DK94262', 'UQ30615', 'OR40060', 'DK32872', 'FA46418', 'ER19995', 'KI75855', 'ND41876', 'PN21042', 'GJ43254', 'AL46984', 'JP58047', 'ZE85014', 'KU88219', 'UU98729', 'WS82822', 'YB49933', 'XC16387', 'XJ96748', 'TM98684', 'AY18433', 'DM74502', 'FT56968', 'OX36896', 'BZ65376', 'LN34660', 'JC29295', 'KJ87930', 'XT36360', 'IX35050', 'UN97379', 'MR57294', 'UG79499', 'UA50747', 'GL20444', 'SP58110', 'XM91635', 'TV82603', 'BB82067', 'JP94676', 'VU53417', 'IW54795', 'RN78170', 'IX55883', 'XM72420', 'GC15104', 'RX13282', 'QA85890', 'IR62668', 'AL96740', 'SS48498', 'PE39479', 'JH62891', 'FI20423', 'PM13394', 'YV67971', 'QD31377', 'YG10247', 'FE73696', 'SW19699', 'QJ40732', 'HM76207', 'NT59303', 'PU41393', 'QO86948', 'QN10888', 'VY19543', 'XC15133', 'ST43550', 'FX36546', 'JX68983', 'HX78576', 'ZQ11381', 'ON39271', 'SB18278', 'ZT30559', 'XI41106', 'ZS88847', 'RU49126', 'KR62797', 'ZJ73220', 'FY62633', 'CU36986', 'WZ53904', 'AA71604', 'TD10493', 'LY97989', 'VX39856', 'TP51897', 'QQ89253', 'EI91403', 'QG15435', 'FZ55002', 'HX77930', 'UN37063', 'VB87946', 'AB60627', 'TA34903', 'AQ51368', 'NZ26102', 'GB45753', 'BV79904', 'OB49075', 'DS97676', 'JO63462', 'NJ10602', 'RS24501', 'VT78274', 'SU56153', 'MN20737', 'KL43114', 'YQ15567', 'TR88637', 'TC88986', 'XX88577', 'NE49052', 'KX17826', 'CC91503', 'WH32183', 'ES90681', 'DW96592', 'MT23134', 'BM69081', 'MB90871', 'GT62080', 'QL77686', 'ON77827', 'KP18988', 'TI92884', 'JH73503', 'YE97964', 'VA30351', 'PV55726', 'UC88305', 'TS53809', 'ZV32120', 'FB80807', 'AS55677', 'WA15684', 'SA50567', 'KJ31611', 'VL37375', 'KN21017', 'PX44289', 'AM97901', 'RE42925', 'TR81766', 'CH85057', 'UP71482', 'EG40670', 'HV83672', 'MG10140', 'TC44716', 'QO65264', 'EB66698', 'OT52034', 'CH85444', 'PU85769', 'UI73201', 'SL50592', 'XP11075', 'SI31236', 'JN26745', 'VK48036', 'JX76668', 'DS45802', 'OA96690', 'EM27919', 'QO41043', 'OV50124', 'PR31642', 'BU41599', 'TK30357', 'NF31087', 'NH16984', 'OS75493', 'VT63298', 'QS75550', 'SZ16483', 'VM92311', 'NJ46849', 'WZ31900', 'RG30482', 'ZM86949', 'QQ39596', 'FH51383', 'BJ53923', 'CZ96653', 'FB23788', 'NT43594', 'RJ85627', 'KJ86296', 'PI47776', 'MD73554', 'UX92071', 'YG44474', 'UH45301', 'RY92647', 'IK12620', 'GQ66762', 'YT69858', 'XD85577', 'TM65736', 'VJ51327', 'GS98873', 'CW49887', 'MY31220', nan]
ST : ['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali', 'AZ', 'WA', nan]
GENDER : [nan, 'F', 'M', 'Femal', 'Male', 'female']
Education : ['Master', 'Bachelor', 'High School or Below', 'College', 'Bachelors', 'Doctor', nan]
Policy Type : ['Personal Auto', 'Corporate Auto', 'Special Auto', nan]
Vehicle Class : ['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car', 'Luxury Car', nan]

In [6]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types.
numerical_variables = ["Customer Lifetime Value", "Income", "Monthly Premium Auto", "Total Claim Amount"] 
print(insurance_company[numerical_variables].dtypes)

#Customer Lifetime Value shoul be a number also.

Customer Lifetime Value     object
Income                     float64
Monthly Premium Auto       float64
Total Claim Amount         float64
dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [7]:
# Your code here
customer_location = insurance_company['ST'].value_counts()
#print(customer_location)
print(f'The five less common customer locations are: \n{customer_location.tail(5).sort_values()}')

The five less common customer locations are:
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [17]:
# Your code here
#the total number of policies sold for each type of policy. 
# Create a pandas Series object that contains the policy 
# types and their total number of policies sold, and then 
# retrieve the policy type with the highest number of 
# policies sold.
policy_type = insurance_company['Policy Type'].value_counts()
print(f'Total number of policies sold: \n {policy_type}')
#print(f'Number of policies sold: \n {insurance_company['Policy Type'].sum()}')
#print(f'Policy type with the highest number of policies sold: {insurance_company['Policy Type'].idxmax()}')

Total number of policies sold:
 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [19]:
# Your code here
#Use *loc* to create two dataframes: one containing only 
# Personal Auto policies and one containing only Corporate Auto policies.
df_personal = insurance_company.loc[insurance_company['Policy Type'] == 'Personal Auto']
df_corporate = insurance_company.loc[insurance_company['Policy Type'] == 'Corporate Auto']
df_corporate.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737

In [20]:
#- Calculate the average income for each policy.
average_corporate = round(df_corporate['Income'].mean(),2)
print(f'The average income in pcorporate policies is: {average_corporate}')

The average income in pcorporate policies is: 41390.31

In [21]:
df_personal.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

In [22]:
#- Calculate the average income for each policy.
average_personal = round(df_personal['Income'].mean(),2)
print(f'The average income in personal policies is: {average_personal}')

The average income in personal policies is: 38180.7

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here